# Root level temp files
*~

# Elisp and Emacs temp files
emacs/*.el*
emacs/*~

# Folder structure from running Emacs(client)
emacs/auto-save-list/
emacs/elpa/
emacs/eshell/
emacs/org-persist/
emacs/server/
emacs/transient/